.App {
  text-align: center;
}

/* NAVBAR */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 0 2rem;
  height: 7vh;
}

.Navbar h3 {
  color: #918eba;
}

/* MAIN */
.Main {
  min-height: 750px;
}

/* MAIN header*/
.Main .header h3 {
  text-align: center;
  margin-top: 1rem;
  padding: .1rem;
  font-size: 1.5rem;
}

/* FOOTER */
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  height: 15vh;
  padding: 1rem;
}

.Footer p {
  font-size: .75rem;
  padding: 0;
  margin: 5px;
  font-weight: bold;
  color: #918eba;
}



h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: .25rem;
  width: 50%;
  margin: 0 auto;
  background-color:  #918eba;
}

form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  margin-bottom: .25rem;
  width: 100%;
}

form textarea {
  margin-bottom: .25rem;
  width: 100%;
}

form input[type="submit"] {
  margin: .25rem;
  width: 40%;
  background-color: #3963d8;
  border-radius: 5px;
  padding: .5rem;
  color: white;
  font-size: 1rem;
}

.tasks-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: .5rem;
  padding: .25rem;
  width: 50%;
  margin: 1rem auto;
  background-color:  #918eba;
}

.tasks-card h3 {
  color: #ffffff;
  font-size: 1.3rem;
  margin:10px;
}

.tasks-card p {
  color: #ffffff;
  font-size: 1.1rem;
 margin:10px;
}

.tasks-card h5 {
  color: whitesmoke;
  font-size: 1rem;
  margin:10px;
}

.btns-container {
  display: flex;
  justify-content: space-around;
  margin: 0.2rem;
}

button {
  border-radius: 5px;
  padding: .25rem;
  width: 100%;
}

.btn-edit {
  background-color: #f1e207;
  color: rgb(73, 73, 73);
  margin: 10px;
  font-size: 1rem;
}

.btn-delete {
  background-color: #cb0b0b;
  color: white;
  margin: 10px;
  font-size: 1rem;
}

.btn-fav {
  background-color: #ffffff;
  margin: 10px;
}
